[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==6.3.0"
ansible-lint = "==6.5.1"
molecule = "==6.0.2"
molecule-containers = "==2.0.0"
docker = "==6.1.3"

[dev-packages]

[requires]
python_version = "3.9"
