[Unit]
Description=prometheus jmx exporter
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp=yes
User={{ jmx_exporter_user }}
Group={{ jmx_exporter_group }}
RuntimeDirectory=jmx_exporter
Environment='JAVA_OPTS=-Djava.awt.headless=true \
{% if jmx_rmi %}
    -Dcom.sun.management.jmxremote.port={{ jmx_exporter_internal_port }} \
    -Dcom.sun.management.jmxremote.rmi.port={{ jmx_exporter_internal_port }} \
    -Djava.rmi.server.hostname={{ inventory_hostname }} \
    -Dcom.sun.management.jmxremote.authenticate=false \
    -Dcom.sun.management.jmxremote=true \
    -Dcom.sun.management.jmxremote.local.only=false \
    -Dcom.sun.management.jmxremote.ssl=false \
{% endif %}'

Environment='JAVA_MEM=-Xmx{{ jmx_exporter_xmx }} -Xms{{ jmx_exporter_xms }}'
ExecStart=/bin/sh -c "/usr/bin/java $JAVA_OPTS $JAVA_MEM \
                      -cp {{ ([jmx_exporter_jar_path] + jmx_exporter_classpath_entries)|join(":") }} {{ jmx_exporter_main_class }} \
                      {{ jmx_exporter_port }} {{ jmx_exporter_conf_path }} \
                      > {{ jmx_exporter_log_path }} 2>&1"
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/jmx_exporter/jmx_exporter.pid"
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ jmx_exporter_root_directory }}
PIDFile=/run/jmx_exporter/jmx_exporter.pid
KillSignal=SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
